<footer class="footer mt-auto py-3 bg-dark text-center text-light">
  <div class="container">
    <span>© <%= Time.current.year %> Hogwarts School of Witchcraft and Wizardry</span>
  </div>
</footer>
